@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css'


body 
    margin: 2% 10%

    header 

        h1 
            text-align: center
            background-color: #3b8eec

        ul
            a:hover 
                text-decoration: none
           
           

    section 
        padding: 5% 4%
        background-color: #bebebe 
        margin-bottom: 10px     

        h2 
            margin: 0 0 13px 0 

#block4
    display: flex
    justify-content: space-around

    div
        display: flex
        height: 30vh
        justify-content: space-around
        align-self: center
        
        .petitBlok
            display: flex
            height: 50px
            width: 50px
            background-color: red


#input4
    text-align: center
    margin: 45px auto

        

#input1Ex4:focus 
    outline: none

#input1Ex4
    display: flex
    flex-direction: columns
    margin: 10px auto
    padding: 10px
    border-radius: 25px
    color: white
    border: 0
    background-color: #769fff
#input1Ex4:hover
    border: 0
    color:#769fff
    background-color: white
.inputs5
    input
        margin: 0 15px 0 0
        padding: 10px
        border-radius: 25px
        color: white
        border: 0
        background-color: #769fff
    
    input:focus 
        outline: none  

    input:active
        border: 0
        color:#769fff
        background-color: white     

#div5
    margin-top: 30px

#Page6
    h3 
        margin: 15px 0 
    .form-control 
        width: 10%
        display: inline-block

#calculette
    
    margin: 50px
    display: inline-block
    background-color: #353535
    padding: 15px
    

    p 
        border: 0
        width: 100%
        height: 25px
        background-color: #0000003f
        color: white
        padding: 2px 5px
    input:focus 
            outline: none
    .btnCalc
        display: flex
        justify-content: space-between
        margin: 10px 0
        button
            
            margin: 10px
            border-radius: 50%
            margin: 0
            width: 40px
            height: 40px
            background-color: #769fff 
            border: 0
            color: #02309b

        #reset
            background-color: #ff7676 
            color: #9b0202
        #reset:active
            background-color: #f7c1c1
            color: white
        #egal
            background-color: #a1ff76 
            color: #199b02
        #egal:active
            background-color: #d2f7c1
            color: white
        .sign
            background-color: #9b9b99 
            color: #ffffff
        .sign:active
            background-color: #2e2e2d
            color: white



        button:active
            background-color: #c1d1f7
            color: white

        button:focus 
            outline: none


#inputs7
    margin-top: 15px 
    input 
        border: solid #3a73f6  2px
        border-radius: 25px
        padding: 5px 10px
        margin: 0 10px
        color: #3a73f6 
        background-color: transparent
    input:hover
        background-color: #3a73f6 
        color: white
    input:focus 
        outline: none
.div71
    display: flex
    align-items: center
    justify-content: space-between
    margin: 10px 0
    p 
        flex: 1
        margin: 0
        padding: 0 0 0 20px

  

    