@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css'


.acti 
        background-color: #3b8eec
        a 
            color: #ffff

body 
    margin: 2% 10%

    header 

        h1 
            text-align: center
            background-color: #3b8eec

        ul 
            list-style: none
           
            li 
                text-decoration: none
                
                a:hover 
                    text-decoration: none

    section 
        padding: 5% 4%
        background-color: #bebebe 
        margin-bottom: 10px     

        h2 
            margin: 0 0 13px 0 

#block4
    display: flex
    justify-content: space-around

    div
        display: flex
        height: 30vh
        justify-content: center
        align-self: center
        #petitBlok
            display: flex
            height: 50px
            width: 50px
            background-color: red


#input4
    text-align: center
    margin: 45px auto

        

#input1Ex4:focus 
    outline: none

#input1Ex4
    display: flex
    flex-direction: columns
    margin: 10px auto
    padding: 10px
    border-radius: 25px
    color: white
    border: 0
    background-color: #769fff
#input1Ex4:hover
    border: 0
    color:#769fff
    background-color: white

#input1Ex5
    padding: 10px
    border-radius: 25px
    color: white
    border: 0
    background-color: #769fff
    
#input1Ex5:focus 
    outline: none  

#input1Ex5:hover
    border: 0
    color:#769fff
    background-color: white     

#div5
    margin-top: 30px

#Page6
    h3 
        margin: 15px 0 
    .form-control 
        width: 10%
        display: inline
