@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
body {
  margin: 2% 10%;
}
body header h1 {
  text-align: center;
  background-color: #3b8eec;
}
body header ul a:hover {
  text-decoration: none;
}
body section {
  padding: 5% 4%;
  background-color: #bebebe;
  margin-bottom: 10px;
}
body section h2 {
  margin: 0 0 13px 0;
}

#block4 {
  display: flex;
  justify-content: space-around;
}
#block4 div {
  display: flex;
  height: 30vh;
  justify-content: space-around;
  align-self: center;
}
#block4 div .petitBlok {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: red;
}

#input4 {
  text-align: center;
  margin: 45px auto;
}

#input1Ex4:focus {
  outline: none;
}

#input1Ex4 {
  display: flex;
  flex-direction: columns;
  margin: 10px auto;
  padding: 10px;
  border-radius: 25px;
  color: white;
  border: 0;
  background-color: #769fff;
}

#input1Ex4:hover {
  border: 0;
  color: #769fff;
  background-color: white;
}

.inputs5 input {
  margin: 0 15px 0 0;
  padding: 10px;
  border-radius: 25px;
  color: white;
  border: 0;
  background-color: #769fff;
}
.inputs5 input:focus {
  outline: none;
}
.inputs5 input:active {
  border: 0;
  color: #769fff;
  background-color: white;
}

#div5 {
  margin-top: 30px;
}

#Page6 h3 {
  margin: 15px 0;
}
#Page6 .form-control {
  width: 10%;
  display: inline-block;
}

#calculette {
  margin: 50px;
  display: inline-block;
  background-color: #353535;
  padding: 15px;
}
#calculette p {
  border: 0;
  width: 100%;
  height: 25px;
  background-color: #0000003f;
  color: white;
  padding: 2px 5px;
}
#calculette input:focus {
  outline: none;
}
#calculette .btnCalc {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
#calculette .btnCalc button {
  margin: 10px;
  border-radius: 50%;
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: #769fff;
  border: 0;
  color: #02309b;
}
#calculette .btnCalc #reset {
  background-color: #ff7676;
  color: #9b0202;
}
#calculette .btnCalc #reset:active {
  background-color: #f7c1c1;
  color: white;
}
#calculette .btnCalc #egal {
  background-color: #a1ff76;
  color: #199b02;
}
#calculette .btnCalc #egal:active {
  background-color: #d2f7c1;
  color: white;
}
#calculette .btnCalc .sign {
  background-color: #9b9b99;
  color: #ffffff;
}
#calculette .btnCalc .sign:active {
  background-color: #2e2e2d;
  color: white;
}
#calculette .btnCalc button:active {
  background-color: #c1d1f7;
  color: white;
}
#calculette .btnCalc button:focus {
  outline: none;
}

#inputs7 {
  margin-top: 15px;
}
#inputs7 input {
  border: solid #3a73f6 2px;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 0 10px;
  color: #3a73f6;
  background-color: transparent;
}
#inputs7 input:hover {
  background-color: #3a73f6;
  color: white;
}
#inputs7 input:focus {
  outline: none;
}

.div71 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.div71 p {
  flex: 1;
  margin: 0;
  padding: 0 0 0 20px;
}

/*# sourceMappingURL=style.css.map */
